prod/prod/prod.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="https://api.monopond.com/fax/soap/v2"
                  name="ApiService" targetNamespace="https://api.monopond.com/fax/soap/v2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="https://api.monopond.com/fax/soap/v2">
      <xs:element name="Blocklists" type="tns:apiFaxMessageBlocklist" />
      <xs:element name="FaxDetails" type="tns:apiFaxMessageStatusDetails" />
      <xs:element name="FaxMessage" nillable="true" type="xs:anyType" />
      <xs:element name="FaxResults" type="tns:apiFaxMessageStatusResults" />
      <xs:element name="FaxResultsTotals" type="tns:faxResultsTotals" />
      <xs:element name="FaxStatusResponse" type="tns:faxStatusResponse" />
      <xs:element name="FaxStatusTotals" type="tns:faxStatusTotals" />
      <xs:complexType name="apiRequest" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="pauseFaxRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:apiRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="MessageRef" type="xs:string" />
              <xs:element minOccurs="0" name="SendRef" type="xs:string" />
              <xs:element minOccurs="0" name="BroadcastRef" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="apiResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="faxStatusResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:apiResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="FaxStatusTotals" type="tns:faxStatusTotals" />
              <xs:element minOccurs="0" name="FaxResultsTotals" type="tns:faxResultsTotals" />
              <xs:element minOccurs="0" name="FaxMessages">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="FaxMessage" type="tns:apiFaxMessageStatus" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="faxStatusTotals">
        <xs:sequence />
        <xs:attribute name="pending" type="xs:long" />
        <xs:attribute name="processing" type="xs:long" />
        <xs:attribute name="queued" type="xs:long" />
        <xs:attribute name="starting" type="xs:long" />
        <xs:attribute name="sending" type="xs:long" />
        <xs:attribute name="finalizing" type="xs:long" />
        <xs:attribute name="done" type="xs:long" />
      </xs:complexType>
      <xs:complexType name="faxResultsTotals">
        <xs:sequence />
        <xs:attribute name="success" type="xs:long" />
        <xs:attribute name="blocked" type="xs:long" />
        <xs:attribute name="failed" type="xs:long" />
        <xs:attribute name="totalAttempts" type="xs:long" />
        <xs:attribute name="totalFaxDuration" type="xs:long" />
        <xs:attribute name="totalPages" type="xs:long" />
      </xs:complexType>
      <xs:complexType name="apiFaxMessageStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="FaxDetails" type="tns:apiFaxMessageStatusDetails" />
          <xs:element minOccurs="0" name="FaxResults">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="FaxResult" type="tns:apiFaxMessageStatusResults" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="messageRef" type="xs:string" />
        <xs:attribute name="sendRef" type="xs:string" />
        <xs:attribute name="broadcastRef" type="xs:string" />
        <xs:attribute name="sendTo" type="tns:phoneNumber" />
        <xs:attribute name="status" type="tns:faxUserStatus" />
      </xs:complexType>
      <xs:simpleType name="phoneNumber">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:complexType name="apiFaxMessageStatusDetails">
        <xs:sequence />
        <xs:attribute name="sendFrom" type="xs:string" />
        <xs:attribute name="resolution" type="tns:faxResolution" />
        <xs:attribute name="retries" type="xs:int" />
        <xs:attribute name="busyRetries" type="xs:int" />
        <xs:attribute name="headerFormat" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="apiFaxMessageStatusResults">
        <xs:sequence>
          <xs:element minOccurs="0" name="Error" type="tns:faxErrorAdapter" />
        </xs:sequence>
        <xs:attribute name="attempt" type="xs:int" />
        <xs:attribute name="result" type="tns:faxResult" />
        <xs:attribute name="cost" type="xs:string" />
        <xs:attribute name="pages" type="xs:int" />
        <xs:attribute name="totalFaxDuration" type="xs:int" />
        <xs:attribute name="scheduledStartTime" type="xs:dateTime" />
        <xs:attribute name="dateCallStarted" type="xs:dateTime" />
        <xs:attribute name="dateCallEnded" type="xs:dateTime" />
      </xs:complexType>
      <xs:complexType name="faxErrorAdapter" final="extension restriction">
        <xs:sequence />
        <xs:attribute name="code" type="xs:string" />
        <xs:attribute name="name" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="pauseFaxResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:faxStatusResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="webFaultBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resumeFaxRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:apiRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="MessageRef" type="xs:string" />
              <xs:element minOccurs="0" name="SendRef" type="xs:string" />
              <xs:element minOccurs="0" name="BroadcastRef" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="resumeFaxResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:faxStatusResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="faxStatusRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:apiRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="MessageRef" type="xs:string" />
              <xs:element minOccurs="0" name="SendRef" type="xs:string" />
              <xs:element minOccurs="0" name="BroadcastRef" type="xs:string" />
              <xs:element minOccurs="0" default="brief" name="Verbosity" type="tns:faxStatusLevel" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="stopFaxRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:apiRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="MessageRef" type="xs:string" />
              <xs:element minOccurs="0" name="SendRef" type="xs:string" />
              <xs:element minOccurs="0" name="BroadcastRef" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="stopFaxResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:faxStatusResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sendFaxRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:apiRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="BroadcastRef" type="xs:string" />
              <xs:element minOccurs="0" name="SendRef" type="xs:string" />
              <xs:element minOccurs="0" name="FaxMessages">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="FaxMessage" type="tns:apiFaxMessage" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Documents">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" type="tns:apiFaxDocument" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Resolution" type="tns:faxResolution" />
              <xs:element minOccurs="0" name="Blocklists" type="tns:apiFaxMessageBlocklist" />
              <xs:element minOccurs="0" name="SendFrom" type="xs:string" />
              <xs:element minOccurs="0" name="ScheduledStartTime" type="xs:string" />
              <xs:element minOccurs="0" name="Retries" type="xs:int" />
              <xs:element minOccurs="0" name="BusyRetries" type="xs:int" />
              <xs:element minOccurs="0" name="HeaderFormat" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="apiFaxMessage">
        <xs:sequence>
          <xs:element name="MessageRef" type="xs:string" />
          <xs:element name="SendTo" type="xs:string" />
          <xs:element minOccurs="0" name="SendFrom" type="xs:string" />
          <xs:element minOccurs="0" name="Documents">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" type="tns:apiFaxDocument" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="Resolution" type="tns:faxResolution" />
          <xs:element minOccurs="0" name="Blocklists" type="tns:apiFaxMessageBlocklist" />
          <xs:element minOccurs="0" name="ScheduledStartTime" type="xs:string" />
          <xs:element minOccurs="0" name="Retries" type="xs:int" />
          <xs:element minOccurs="0" name="BusyRetries" type="xs:int" />
          <xs:element minOccurs="0" name="HeaderFormat" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="apiFaxDocument">
        <xs:sequence>
          <xs:element name="FileName" type="xs:string" />
          <xs:element name="FileData" type="xs:string" />
          <xs:element default="0" name="Order" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="apiFaxMessageBlocklist">
        <xs:sequence />
        <xs:attribute name="dncr" type="xs:boolean" />
        <xs:attribute name="fps" type="xs:boolean" />
        <xs:attribute name="smartblock" type="xs:boolean" />
      </xs:complexType>
      <xs:complexType name="sendFaxResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:faxStatusResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="faxUserStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="pending" />
          <xs:enumeration value="processing" />
          <xs:enumeration value="queued" />
          <xs:enumeration value="starting" />
          <xs:enumeration value="sending" />
          <xs:enumeration value="pausing" />
          <xs:enumeration value="paused" />
          <xs:enumeration value="resuming" />
          <xs:enumeration value="stopping" />
          <xs:enumeration value="finalizing" />
          <xs:enumeration value="done" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="faxResolution">
        <xs:restriction base="xs:string">
          <xs:enumeration value="normal" />
          <xs:enumeration value="fine" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="faxResult">
        <xs:restriction base="xs:string">
          <xs:enumeration value="success" />
          <xs:enumeration value="blocked" />
          <xs:enumeration value="failed" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="faxError">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DOCUMENT_UNSUPPORTED" />
          <xs:enumeration value="DOCUMENT_FAILED_CONVERSION" />
          <xs:enumeration value="FUNDS_INSUFFICIENT" />
          <xs:enumeration value="FUNDS_FAILED" />
          <xs:enumeration value="BLOCK_ACCOUNT" />
          <xs:enumeration value="BLOCK_GLOBAL" />
          <xs:enumeration value="BLOCK_SMART" />
          <xs:enumeration value="BLOCK_DNCR" />
          <xs:enumeration value="BLOCK_FPS" />
          <xs:enumeration value="BLOCK_CUSTOM" />
          <xs:enumeration value="FAX_NEGOTIATION_FAILED" />
          <xs:enumeration value="FAX_EARLY_HANGUP" />
          <xs:enumeration value="FAX_INCOMPATIBLE_MACHINE" />
          <xs:enumeration value="FAX_BUSY" />
          <xs:enumeration value="FAX_NUMBER_UNOBTAINABLE" />
          <xs:enumeration value="FAX_SENDING_FAILED" />
          <xs:enumeration value="FAX_CANCELLED" />
          <xs:enumeration value="FAX_NO_ANSWER" />
          <xs:enumeration value="FAX_UNKNOWN" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="faxStatusLevel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="brief" />
          <xs:enumeration value="send" />
          <xs:enumeration value="details" />
          <xs:enumeration value="results" />
          <xs:enumeration value="all" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="InternalServerException" nillable="true" type="tns:webFaultBean" />
      <xs:element name="InvalidArgumentsException" nillable="true" type="tns:webFaultBean" />
      <xs:element name="NoMessagesFoundException" nillable="true" type="tns:webFaultBean" />
      <xs:element name="DocumentContentTypeNotFoundException" nillable="true" type="tns:webFaultBean" />
      <xs:element name="PauseFaxRequest" nillable="true" type="tns:pauseFaxRequest" />
      <xs:element name="PauseFaxResponse" nillable="true" type="tns:pauseFaxResponse" />
      <xs:element name="ResumeFaxRequest" nillable="true" type="tns:resumeFaxRequest" />
      <xs:element name="ResumeFaxResponse" nillable="true" type="tns:resumeFaxResponse" />
      <xs:element name="FaxStatusRequest" nillable="true" type="tns:faxStatusRequest" />
      <xs:element name="StopFaxRequest" nillable="true" type="tns:stopFaxRequest" />
      <xs:element name="StopFaxResponse" nillable="true" type="tns:stopFaxResponse" />
      <xs:element name="SendFaxRequest" nillable="true" type="tns:sendFaxRequest" />
      <xs:element name="SendFaxResponse" nillable="true" type="tns:sendFaxResponse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DocumentContentTypeNotFoundException">
    <wsdl:part name="DocumentContentTypeNotFoundException" element="tns:DocumentContentTypeNotFoundException" />
  </wsdl:message>
  <wsdl:message name="FaxStatusResponse">
    <wsdl:part name="FaxStatusResponse" element="tns:FaxStatusResponse" />
  </wsdl:message>
  <wsdl:message name="PauseFaxResponse">
    <wsdl:part name="PauseFaxResponse" element="tns:PauseFaxResponse" />
  </wsdl:message>
  <wsdl:message name="InvalidArgumentsException">
    <wsdl:part name="InvalidArgumentsException" element="tns:InvalidArgumentsException" />
  </wsdl:message>
  <wsdl:message name="SendFaxResponse">
    <wsdl:part name="SendFaxResponse" element="tns:SendFaxResponse" />
  </wsdl:message>
  <wsdl:message name="ResumeFaxResponse">
    <wsdl:part name="ResumeFaxResponse" element="tns:ResumeFaxResponse" />
  </wsdl:message>
  <wsdl:message name="FaxStatus">
    <wsdl:part name="FaxStatusRequest" element="tns:FaxStatusRequest" />
  </wsdl:message>
  <wsdl:message name="StopFax">
    <wsdl:part name="StopFaxRequest" element="tns:StopFaxRequest" />
  </wsdl:message>
  <wsdl:message name="SendFax">
    <wsdl:part name="SendFaxRequest" element="tns:SendFaxRequest" />
  </wsdl:message>
  <wsdl:message name="PauseFax">
    <wsdl:part name="PauseFaxRequest" element="tns:PauseFaxRequest" />
  </wsdl:message>
  <wsdl:message name="StopFaxResponse">
    <wsdl:part name="StopFaxResponse" element="tns:StopFaxResponse" />
  </wsdl:message>
  <wsdl:message name="NoMessagesFoundException">
    <wsdl:part name="NoMessagesFoundException" element="tns:NoMessagesFoundException" />
  </wsdl:message>
  <wsdl:message name="InternalServerException">
    <wsdl:part name="InternalServerException" element="tns:InternalServerException" />
  </wsdl:message>
  <wsdl:message name="ResumeFax">
    <wsdl:part name="ResumeFaxRequest" element="tns:ResumeFaxRequest" />
  </wsdl:message>
  <wsdl:portType name="Api">
    <wsdl:operation name="PauseFax">
      <wsdl:input name="PauseFax" message="tns:PauseFax" />
      <wsdl:output name="PauseFaxResponse" message="tns:PauseFaxResponse" />
      <wsdl:fault name="InternalServerException" message="tns:InternalServerException" />
      <wsdl:fault name="InvalidArgumentsException" message="tns:InvalidArgumentsException" />
      <wsdl:fault name="NoMessagesFoundException" message="tns:NoMessagesFoundException" />
    </wsdl:operation>
    <wsdl:operation name="ResumeFax">
      <wsdl:input name="ResumeFax" message="tns:ResumeFax" />
      <wsdl:output name="ResumeFaxResponse" message="tns:ResumeFaxResponse" />
      <wsdl:fault name="InternalServerException" message="tns:InternalServerException" />
      <wsdl:fault name="InvalidArgumentsException" message="tns:InvalidArgumentsException" />
      <wsdl:fault name="NoMessagesFoundException" message="tns:NoMessagesFoundException" />
    </wsdl:operation>
    <wsdl:operation name="FaxStatus">
      <wsdl:input name="FaxStatus" message="tns:FaxStatus" />
      <wsdl:output name="FaxStatusResponse" message="tns:FaxStatusResponse" />
      <wsdl:fault name="InternalServerException" message="tns:InternalServerException" />
      <wsdl:fault name="InvalidArgumentsException" message="tns:InvalidArgumentsException" />
      <wsdl:fault name="NoMessagesFoundException" message="tns:NoMessagesFoundException" />
    </wsdl:operation>
    <wsdl:operation name="StopFax">
      <wsdl:input name="StopFax" message="tns:StopFax" />
      <wsdl:output name="StopFaxResponse" message="tns:StopFaxResponse" />
      <wsdl:fault name="InternalServerException" message="tns:InternalServerException" />
      <wsdl:fault name="InvalidArgumentsException" message="tns:InvalidArgumentsException" />
      <wsdl:fault name="NoMessagesFoundException" message="tns:NoMessagesFoundException" />
    </wsdl:operation>
    <wsdl:operation name="SendFax">
      <wsdl:input name="SendFax" message="tns:SendFax" />
      <wsdl:output name="SendFaxResponse" message="tns:SendFaxResponse" />
      <wsdl:fault name="InternalServerException" message="tns:InternalServerException" />
      <wsdl:fault name="DocumentContentTypeNotFoundException" message="tns:DocumentContentTypeNotFoundException" />
      <wsdl:fault name="InvalidArgumentsException" message="tns:InvalidArgumentsException" />
      <wsdl:fault name="NoMessagesFoundException" message="tns:NoMessagesFoundException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApiServiceSoapBinding" type="tns:Api">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PauseFax">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="PauseFax">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PauseFaxResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentsException">
        <soap:fault use="literal" name="InvalidArgumentsException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NoMessagesFoundException">
        <soap:fault use="literal" name="NoMessagesFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResumeFax">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ResumeFax">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResumeFaxResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentsException">
        <soap:fault use="literal" name="InvalidArgumentsException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NoMessagesFoundException">
        <soap:fault use="literal" name="NoMessagesFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FaxStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="FaxStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FaxStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentsException">
        <soap:fault use="literal" name="InvalidArgumentsException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NoMessagesFoundException">
        <soap:fault use="literal" name="NoMessagesFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StopFax">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="StopFax">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StopFaxResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentsException">
        <soap:fault use="literal" name="InvalidArgumentsException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NoMessagesFoundException">
        <soap:fault use="literal" name="NoMessagesFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendFax">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="SendFax">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SendFaxResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DocumentContentTypeNotFoundException">
        <soap:fault use="literal" name="DocumentContentTypeNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentsException">
        <soap:fault use="literal" name="InvalidArgumentsException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NoMessagesFoundException">
        <soap:fault use="literal" name="NoMessagesFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApiService">
    <wsdl:port name="ApiPort" binding="tns:ApiServiceSoapBinding">
      <soap:address location="https://api.monopond.com/fax/soap/v2/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>